body {
    background-color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}